body {
    font-family: 'SF Pro Text', 'SF Pro Icons', system-ui;
    padding: 20px 20px 60px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.language-select {
    position: absolute;
    top: 15px;
    right: 15px;
}

#githubButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}