/* app container */
.app {
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 5px 5px;
    margin: 0 auto;
}   


/* header: title and title description */
header {
    color: rgb(34, 145, 12);
}

.title {
    font-size: 35px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    
}

.title-desc {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 25px;
}


/* inputs */
.inputs {
    border: 1px solid;
    padding: 8px;
    margin-bottom: 20px;
}

.input-header {
    margin-top: 0px;
    font-size: 1.2rem;
}

.language-radio {
    margin-bottom: 18px;
}

select, input {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.setTargetBPMBySong {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 7px;
    margin-bottom: 18px;
}

.songTitle-select {
    grid-column: 1 / 3;
    grid-row: 1;
}

.songMod-select {
    grid-column: 1;
    grid-row: 2;
}

.calcTargetBPM-button {
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
}

.targetBPM-input {
    margin-bottom: 18px;
    color: rgb(0, 20, 255);
}

input[type=number]{
    width: 50px;
    color: rgb(0, 20, 255);
} 

/* output table */
.filter-input {
    margin-bottom: 10px;
    
}

.resultsTable {
    overflow-y: auto; 
    height: 100px; 
    border-collapse: collapse; 
    width: 100%; 
}

.resultsTable thead tr th { 
    /* sticky table headers */
    position: sticky; 
    top: 0; 
}

thead tr th:nth-child(2), th:nth-child(4), th:nth-child(5) {
    display: none;
}

tbody td:nth-child(2), td:nth-child(4), td:nth-child(5) {
    display: none;
}

tbody td:nth-child(3) {
    font-weight: bold;
    text-align: right;
}

th, td { 
    padding: 4px 10px;
}

th { 
    background:rgb(190, 242, 255); 
    border-bottom: 1px solid;
    text-align: left;
}

th:nth-child(3) {
    text-align: right;
} 

tr:nth-child(2n+2) {
    background: rgb(230, 230, 230);
}

/* footer: just a github button so far */
#githubButton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}
