.app {
    /* think font-family will only apply if bootstrap cdn fails */
    font-family: 'SF Pro Text', 'SF Pro Icons', system-ui;
    padding: 20px 20px 60px;
    margin: 0 auto;
    
}   

header {
    color: rgb(34, 145, 12);
}

.title {
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 0px;
}

.title-desc {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
}

.language-select {
    margin-bottom: 10px;
}

#githubButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}

.resultsTable {
    overflow-y: auto; 
    height: 100px; 
}

/* sticky table headers */
.resultsTable thead tr th { 
    position: sticky; 
    top: 0; 
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 2px 8px; }
th     { background:rgb(190, 242, 255); }